
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');


body{
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
}
.conteiner{
    height: 1000px;
    width: 700px;
    background-color: hsl(0, 0%, 100%);   
}
img{
    border-radius: 20px;
    width: 620px;
    height: 300px;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 40px;
}
h1{
    font-family: "Young Serif", serif;
    margin: 40px;
    font-weight: normal;
}
p{
    font-family: "Outfit", sans-serif;
     margin-left: 40px;
    font-weight: normal;
}
.conteiner2{
    background-color: hsl(330, 100%,98%);
    width: 620px;
    height: 190px;
    border-radius: 20px;   
    margin: 40px;
}
h3{
    padding-left: 20px;
    padding-top: 20px;
    color: hsl(332, 51%,32%);
}
ul{
    font-family: "Outfit", sans-serif;
    padding-left: 30px;
    
}
.conteiner3{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}
h1{

}
    
      
                        