* {
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    padding: 200px;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    margin-top: 200px;
}

 h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

 p {
    text-align: center;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"],
.grupo select {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-group select {
    width: 32%;
}

.gender label {
    margin-left: 5px;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.info-text {
    font-size: 12px;
    color: #777;
    margin-top: 15px;
}
